@media(max-width: 1550px) {
   .container {
      padding: 0 160px;
   }
}

@media(max-width: 1390px) {
   .blocks {
      justify-content: center;
   }
   .blocks>*:not(:last-child) {
      margin-bottom: 30px;
   }
}

@media(max-width: 1350px) {
   .header {
      padding: 96px 0 0 0;
   }
   .head_link {
      font-size: 25px;
   }
   .ul>*:not(:last-child) {
      margin-right: 30px;
   }
   .logo_img {
      height: 60px;
   }
   .title1 {
      font-size: 55px;
      line-height: 85px;
   }
   .text1 {
      font-size: 31px;
      line-height: 60px;
   }
   .img0 {
      height: 60px;
   }
   .p1 {
      padding: 0 0 40px 0;
   }
   .title {
      font-size: 55px;
      font-weight: 600;
      line-height: 80px;
      margin: 0 0 85px 0;
   }
   .text2 {
      font-size: 20px;
      line-height: 35px;
   }
   .text3 {
      font-size: 31px;
      line-height: 48px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 70px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 70px 0;
   }
   .img4 {
      height: 70px;
   }
   .input {
      font-size: 27px;
   }
   .label {
      font-size: 27px;
   }
   .textarea {
      font-size: 27px;
   }
   .btn {
      font-size: 27px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 50px 0;
   }
}

@media(max-width: 1250px) {
   .container {
      padding: 0 100px;
   }
}

@media(max-width: 1150px) {
   .header {
      padding: 76px 0 0 0;
   }
   .head_link {
      font-size: 20px;
   }
   .ul>*:not(:last-child) {
      margin-right: 25px;
   }
   .logo_img {
      height: 50px;
   }
   .title1 {
      font-size: 45px;
      line-height: 75px;
   }
   .text1 {
      font-size: 24px;
      line-height: 50px;
   }
   .img0 {
      height: 50px;
   }
   .p1 {
      padding: 0 0 40px 0;
   }
   .title {
      font-size: 50px;
      font-weight: 600;
      line-height: 80px;
      margin: 0 0 80px 0;
   }
   .text2 {
      font-size: 19px;
      line-height: 35px;
   }
   .input {
      font-size: 25px;
   }
   .label {
      font-size: 25px;
   }
   .textarea {
      font-size: 25px;
      min-height: 150px;
   }
   .btn {
      font-size: 25px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 50px 0;
   }
   .group {
      width: 500px;
   }
   .input:focus + label {
      transform: translateY(-25px);
      font-size: 15px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 15px;
   }
   .textarea:focus + label {
      transform: translateY(-25px);
      font-size: 15px;
   }
   .textarea:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 15px;
   }
}

@media(max-width: 950px) {
   .container {
      padding: 0 50px;
   }
   .img1 {
      transform: translateX(20px);
   }
   .img {
      transform: translateX(-20px);
   }
   .text3 {
      font-size: 25px;
      line-height: 40px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 60px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 60px 0;
   }
   .img4 {
      height: 60px;
   }
}

@media(max-width: 750px) {
   .header {
      padding: 56px 0 0 0;
   }
   .container {
      padding: 0 30px;
   }
   .head_link {
      font-size: 18px;
   }
   .ul>*:not(:last-child) {
      margin-right: 20px;
   }
   .logo_img {
      height: 40px;
   }
   .title1 {
      font-size: 37px;
      line-height: 70px;
   }
   .text1 {
      font-size: 19px;
      line-height: 45px;
   }
   .img0 {
      height: 40px;
   }
   .p1 {
      padding: 0 0 30px 0;
   }
   .title {
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      margin: 0 0 60px 0;
   }
   .input {
      font-size: 20px;
   }
   .label {
      font-size: 20px;
      transform: translateY(-5px);
   }
   .textarea {
      font-size: 20px;
      min-height: 150px;
   }
   .btn {
      font-size: 20px;
      padding: 10px 25px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 50px 0;
   }
   .group {
      width: 400px;
   }
   .input:focus + label {
      transform: translateY(-25px);
      font-size: 13px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 13px;
   }
   .textarea:focus + label {
      transform: translateY(-25px);
      font-size: 13px;
   }
   .textarea:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 13px;
   }
}

@media(max-width: 650px) {
   .header {
      padding: 30px 0 0 0;
   }
   .container {
      padding: 0 20px;
   }
   .head_link {
      font-size: 16px;
   }
   .ul>*:not(:last-child) {
      margin-right: 15px;
   }
   .logo_img {
      height: 30px;
   }
   .title1 {
      font-size: 33px;
      line-height: 60px;
   }
   .text1 {
      font-size: 18px;
      line-height: 40px;
   }
   .img0 {
      height: 30px;
   }
   .p1 {
      padding: 0 0 20px 0;
   }
   .img1 {
      transform: translateX(10px);
   }
   .img {
      transform: translateX(-10px);
   }
   .title {
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
      margin: 0 0 60px 0;
   }
   .text2 {
      font-size: 19px;
      line-height: 35px;
   }
   .text3 {
      font-size: 20px;
      line-height: 40px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 40px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 40px 0;
   }
   .img4 {
      height: 50px;
   }
   .arr3 {
      margin: 60px 0 0 0;
   }
}

@media(max-width: 500px) {
   .header {
      padding: 20px 0 0 0;
   }
   .container {
      padding: 0 10px;
   }
   .head_link {
      font-size: 15px;
   }
   .ul>*:not(:last-child) {
      margin-right: 10px;
   }
   .logo_img {
      height: 27px;
   }
   .title {
      font-size: 27px;
      font-weight: 600;
      line-height: 45px;
      margin: 0 0 50px 0;
   }
   .text2 {
      font-size: 17px;
      line-height: 30px;
   }
   .img_block {
      height: 300px;
   }
   .text3 {
      font-size: 19px;
      line-height: 40px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 35px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 35px 0;
   }
   .img4 {
      height: 45px;
   }
   .arr1 {
      margin: 20px 0 0 0;
   }
   .arr3 {
      margin: 50px 0 0 0;
   }
   .input {
      font-size: 18px;
   }
   .label {
      font-size: 18px;
      transform: translateY(-5px);
   }
   .textarea {
      font-size: 18px;
      min-height: 100px;
   }
   .btn {
      font-size: 17px;
      padding: 5px 20px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 40px 0;
   }
   .group {
      width: 330px;
   }
}

@media(max-width: 420px) {
   .header {
      padding: 15px 0 0 0;
   }
   .container {
      padding: 0 10px;
   }
   .head_link {
      font-size: 12px;
      line-height: 32px;
   }
   .ul>*:not(:last-child) {
      margin-right: 3px;
   }
   .logo_img {
      height: 24px;
   }
   .title1 {
      font-size: 29px;
      line-height: 50px;
   }
   .text1 {
      font-size: 16px;
      line-height: 30px;
   }
   .img0 {
      height: 24px;
   }
   .p1 {
      padding: 0 0 18px 0;
   }
   .title {
      font-size: 25px;
      font-weight: 600;
      line-height: 40px;
      margin: 0 0 40px 0;
   }
   .text2 {
      font-size: 16px;
      line-height: 30px;
   }
   .img_block {
      height: 250px;
   }
   .text3 {
      font-size: 17px;
      line-height: 30px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 30px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 30px 0;
   }
   .img4 {
      height: 40px;
   }
   .arr1 {
      margin: 10px 0 0 0;
   }
   .arr3 {
      margin: 40px 0 0 0;
   }
   .input {
      font-size: 16px;
   }
   .label {
      font-size: 16px;
      transform: translateY(-10px);
   }
   .textarea {
      font-size: 16px;
      min-height: 100px;
   }
   .btn {
      font-size: 14px;
      padding: 1px 16px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 40px 0;
   }
   .group {
      width: 290px;
   }
   .input:focus + label {
      transform: translateY(-25px);
      font-size: 12px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 12px;
   }
   .textarea:focus + label {
      transform: translateY(-25px);
      font-size: 12px;
   }
   .textarea:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 12px;
   }
}

@media(max-width: 340px) {
   .header {
      padding: 5px 0 0 0;
   }
   .container {
      padding: 0 5px;
   }
   .head_link {
      font-size: 10px;
      line-height: 22px;
   }
   .ul>*:not(:last-child) {
      margin-right: 1px;
   }
   .logo_img {
      height: 20px;
   }
   .title1 {
      font-size: 25px;
      line-height: 40px;
   }
   .text1 {
      font-size: 15px;
      line-height: 20px;
   }
   .img0 {
      height: 20px;
   }
   .p1 {
      padding: 0 0 18px 0;
   }
   .title {
      font-size: 21px;
      font-weight: 600;
      line-height: 30px;
      margin: 0 0 35px 0;
   }
   .text2 {
      font-size: 15px;
      line-height: 25px;
   }
   .img_block {
      height: 230px;
   }
   .text3 {
      font-size: 16px;
      line-height: 25px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 25px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 25px 0;
   }
   .img4 {
      height: 35px;
   }
   .arr1 {
      margin: 5px 0 0 0;
   }
   .input {
      font-size: 15px;
   }
   .label {
      font-size: 15px;
      transform: translateY(-10px);
   }
   .textarea {
      font-size: 15px;
   }
   .btn {
      font-size: 12px;
      padding: 1px 10px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 40px 0;
   }
   .group {
      width: 260px;
   }
   .input:focus + label {
      transform: translateY(-25px);
      font-size: 11px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 11px;
   }
   .textarea:focus + label {
      transform: translateY(-25px);
      font-size: 11px;
   }
   .textarea:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 11px;
   }
}

@media(max-width: 290px) {
   .head_link {
      font-size: 9px;
      line-height: 22px;
   }
   .logo_img {
      height: 19px;
   }
   .title1 {
      font-size: 20px;
      line-height: 30px;
   }
   .text1 {
      font-size: 14px;
   }
   .img0 {
      height: 20px;
   }
   .p1 {
      padding: 0 0 16px 0;
   }
   .title {
      font-size: 17px;
      font-weight: 600;
      line-height: 30px;
      margin: 0 0 35px 0;
   }
   .text2 {
      font-size: 15px;
      line-height: 25px;
   }
   .img_block {
      height: 200px;
   }
   .text3 {
      font-size: 12px;
      line-height: 20px;
   }
   .cont1>*:not(:last-child) {
      margin: 0 0 25px 0;
   }
   .cont2>*:not(:last-child) {
      margin: 0 0 25px 0;
   }
   .img4 {
      height: 30px;
   }
   .arr1 {
      margin: 1px 0 0 0;
   }
   .label {
      font-size: 13px;
      transform: translateY(-10px);
   }
   .textarea {
      min-height: 80px;
   }
   .btn {
      font-size: 12px;
      padding: 1px 10px;
   }
   .form>*:not(:last-child) {
      margin: 0 0 35px 0;
   }
   .group {
      width: 240px;
   }
   .input:focus + label {
      transform: translateY(-25px);
      font-size: 10px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 10px;
   }
   .textarea:focus + label {
      transform: translateY(-25px);
      font-size: 10px;
   }
   .textarea:not(:placeholder-shown) + .label {
      transform: translateY(-25px);
      font-size: 10px;
   }
}
